<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zxh.mapper.StudentMapper">

    <!--    多对一-->
    <resultMap id="studentMap" type="student">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="hometown" property="hometown"/>
        <result column="birthday" property="birthday"/>
        <association column="clazz" property="clazz">
            <id column="clazz_id" property="clazzId"/>
            <result column="clazz_name" property="clazzName"/>
            <result column="teacher_id" property="teacherId"/>
        </association>
    </resultMap>

    <select id="selectManyToOne" resultMap="studentMap">
        SELECT s.student_id, s.student_name, s.hometown, s.birthday, c.clazz_id, c.clazz_name, c.teacher_id
        FROM t_student s,
             t_clazz c
        WHERE s.student_id = #{studentId}
          AND s.clazz_id = c.clazz_id
    </select>

    <!--    多对多-->
    <resultMap id="studentCourseMap" type="Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <result column="hometown" property="hometown"></result>
        <result column="birthday" property="birthday"></result>
        <collection property="courses" ofType="Course">
            <id column="course_id" property="courseId"></id>
            <result column="course_name" property="courseName"></result>
        </collection>
    </resultMap>

    <select id="selectOneToMany" resultMap="studentCourseMap" parameterType="int">
        select c.course_id, c.course_name, s.student_id, s.student_name, s.hometown, s.birthday
        from t_course c,
             t_student s,
             t_course_student sc
        where s.student_id = #{studentId}
          and s.student_id = sc.student_id
          and c.course_id = sc.course_id
    </select>

    <!--    多对多-->
    <resultMap id="studentAllMap" type="Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <result column="hometown" property="hometown"></result>
        <result column="birthday" property="birthday"></result>
        <association property="clazz" javaType="Clazz">
            <id column="clazz_id" property="clazzId"></id>
            <result column="clazz_name" property="clazzName"></result>
        </association>

        <collection property="courses" ofType="Course">
            <id column="course_id" property="courseId"></id>
            <result column="course_name" property="courseName"></result>
        </collection>

    </resultMap>

    <select id="getStudent" resultMap="studentAllMap">
        SELECT c.course_id,
               c.course_name,
               s.student_id,
               s.student_name,
               s.hometown,
               s.birthday,
               cla.clazz_name,
               cla.clazz_id
        FROM t_student s
                 LEFT JOIN t_course_student sc ON s.student_id = sc.student_id
                 LEFT JOIN t_course c ON sc.course_id = c.course_id
                 left join t_clazz cla on s.clazz_id = cla.clazz_id
        WHERE s.student_id = #{studentId}
    </select>

    <insert id="batchInsert" parameterType="Student">
        INSERT INTO t_student
        VALUES
        <foreach collection="students" item="student" index="index" separator=",">
            (#{student.studentId},#{student.clazzId},#{student.studentName},#{student.hometown},#{student.birthday})
        </foreach>
    </insert>


    <!--    批量修改-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="students" item="student" index="index" open="" close="" separator=";">
            UPDATE t_student t
            <set>
                <if test="student.clazzId != null">
                    `clazz_id` = #{student.clazzId},
                </if>
                <if test="student.studentName != null">
                    `student_name` = #{student.studentName},
                </if>
                <if test="student.hometown != null">
                    `hometown` = #{student.hometown}
                </if>
                <if test="student.birthday != null">
                    `birthday` = #{student.birthday}
                </if>
            </set>
            WHERE t.student_id = #{student.studentId}
        </foreach>
    </update>


    <!--    批量删除-->
    <delete id="batchDelete" parameterType="int">
        DELETE FROM t_student
        WHERE student_id in
        <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>


    <!--    动态查询-->
    <select id="dynamicSelect" parameterType="Student" resultType="Student">
        SELECT *
        FROM t_student
        WHERE 1 =1
        <choose>
            <when test="clazzId != null">
                AND clazz_id = #{clazzId}
            </when>
            <when test="studentName != null">
                AND student_name = #{studentName}
            </when>
            <when test="hometown != null">
                AND hometown LIKE "%"#{hometown}"%"
            </when>
        </choose>
    </select>


</mapper>