<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 将指定的类配置给Spring，让Spring 容器创建其实例-->
    <bean id="userDao" class="top.zxh.spring.ioc.UserDaoimpl"/>

    <bean id="userService" class="top.zxh.spring.ioc.UserServiceImpl">
        <!--将id为userDao 的Bean 实例 注入到 userService 实例-->
        <property name="userDao" ref="userDao"/>
    <!--        <property name="message" value="你好"/>-->
    </bean>
        <!--cat and dog-->
    <bean id="cat" class="top.zxh.spring.ioc.iocExercise.Cat">
        <property name="age" value="2"/>
        <property name="name" value="喵喵"/>
    </bean>
    <bean id="dog" class="top.zxh.spring.ioc.iocExercise.Dog">
        <property name="age" value="5"/>
        <property name="name" value="汪汪"/>
    </bean>

        <!--    book-->
        <bean id="book" class="top.zxh.spring.ioc.iocExercise2.Book">
            <constructor-arg name="id" value="1"/>
            <constructor-arg name="name" value="老人与海"/>
            <constructor-arg name="price" value="10"/>
        </bean>
        <bean id="book2" class="top.zxh.spring.ioc.iocExercise2.Book"/>

        <!--    clothes-->
            <bean id="red" class="top.zxh.spring.ioc.iocExercise3.Clothes">
                <property name="color" value="红色"/>
                <property name="style" value="连衣裙"/>
            </bean>
            <bean id="blue" class="top.zxh.spring.ioc.iocExercise3.Clothes">
                <property name="color" value="蓝色"/>
                <property name="style" value="小西装"/>
            </bean>
        <beans>

            <bean id="girl" class="top.zxh.spring.ioc.iocExercise3.Person">
                <constructor-arg name="name" value="女孩"/>
                <constructor-arg name="clothes" value="red"/>

            </bean>
            <bean id="boy" class="top.zxh.spring.ioc.iocExercise3.Person">
                <constructor-arg name="name" value="男孩"/>
                <constructor-arg name="clothes" value="blue"/>

            </bean>

        </beans>



</beans>